/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVIUwaEQbjA.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --main-blue: rgb(0, 131, 201);
  --main-orange: rgb(252, 150, 35);
  --light-blue: rgb(234, 247, 255);
  --main-gray: rgb(237, 237, 237);
  --second-gray: rgb(208, 208, 208);
  --dark-gray: rgb(168, 168, 168);
  --placeholder-color: rgba(225, 225, 225, 0.732);
  --main-padding: 8px;
  --border-radius: 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(43, 43, 43);
  background: var(--main-gray);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--second-gray);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--main-blue);
}

a:hover {
  color: var(--main-orange);
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.empty-header-div {
  /* outline: 1px solid red; */
  display: flex;
  flex: 1;
  border-bottom: 1px solid var(--second-gray);
}

#new-note-btn {
  border-bottom: 1px solid var(--second-gray);
}

header button {
  all: unset;
  font-size: large;
  color: var(--main-blue);
  padding: var(--main-padding) 20px;
  white-space: nowrap;
}

header button:hover {
  opacity: 0.6;
}

header button:active {
  color: var(--main-orange);
}

#new-tab-btn {
  font-size: 1.5rem;
  padding: 0px var(--main-padding) 0px var(--main-padding);
  border-bottom: 1px solid var(--second-gray);
}

#tab-container {
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
}

.tab {
  width: 100%;
  min-width: 0px;
  color: rgb(61, 61, 61);
  padding: 5px 5px;
  margin-left: 2px;
  background-color: var(--main-gray);
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--second-gray);
  border-radius: 6px 6px 0px 0px;
}

.tab input {
  all: unset;
  width: 90%;
  font-weight: bolder;
  overflow: scroll;
  margin: 3px 6px;
}

.tab input:focus {
  background-color: white;
}

.tab button {
  padding: 0px 5px 0px 5px;
  color: var(--dark-gray);
}

.tab button:hover {
  background-color: white;
  border-radius: 40px;
}

.tab button:active {
  color: var(--main-orange);
}

main {
  flex: 1;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
}

section {
  background-color: white;
  border: 3px solid var(--second-gray);
  border-radius: var(--border-radius);
  position: absolute;
  width: 200px;
  height: 100px;
  overflow: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}

section textarea {
  /* all: unset; */
  resize: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  flex: 1;
  overflow: scroll;
  padding: 6px 8px;
  border: none;
}

section textarea:focus {
  border: 1px solid var(--main-orange);
  margin: 0.1px;
}

section input {
  all: unset;
  flex: 1;
  overflow: scroll;
  padding: 2px;
  text-shadow: 1px 0px 0px black;
}

section input::placeholder {
  color: inherit;
}

section input:focus {
  border: 1px solid var(--main-orange);
  margin: 0.1px;
}

.draggable-header {
  color: white;
  font-size: large;
  background-color: var(--main-blue);
  padding: 2px;
  width: 100%;
  display: flex;
}

.draggable-header button {
  all: unset;
  color: var(--placeholder-color);
  border: 1px solid var(--placeholder-color);
  margin: 4px 2px;
  padding: 0px 5px;
  border-radius: var(--border-radius);
  font-size: 0.7rem;
  letter-spacing: 0.8px;
}

.draggable-header button:hover {
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

/* .draggable-header button:focus {
  color: white;
  border: 1px solid white;
} */

.draggable-header button:active {
  color: var(--main-orange);
  border: 1px solid var(--main-orange);
}

footer {
  color: var(--dark-gray);
  text-align: center;
  width: 100%;
  margin-top: auto;
  display: inline-block;
  padding: var(--main-padding);
}

/* Styles for the modal */
.modal {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--main-gray);
  width: 300px;
  /* height: 200px; */
  margin: 100px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content button {
  all: unset;
  font-size: large;
  color: var(--main-blue);
  padding: var(--main-padding) 20px;
  white-space: nowrap;
}

.modal-content button:hover {
  opacity: 0.6;
}

.modal-content button:active {
  color: var(--main-orange);
}